.rating {
	margin: 50px 0;

	&__inner {
		border-radius: 10px;
		overflow: hidden;
		background-color: #272727;
	}
	&__header {
		padding: 20px;

		font-size: 18px;
		font-weight: 700;
		color: #dfd300;
		text-align: center;
	}

	&__body {
	}

	&__table {
		border-spacing: 0;
	}
}
